@media (max-width: 600px) {
  .Hamburger {
    display: block;
    margin-top: 15px;
    position: absolute;
    left: 80%;
  }
  .Nav {
    display: none;
  }
}
@media (max-width: 1400px) {
  .SL {
    display: none;
  }
}
@media (max-width: 1200px) {
  .Main {
    flex-direction: column;
    height: 120vh;
  }
  nav {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .Right {
    width: 100vw;
  }
  .Left {
    width: 100vw;
    height: auto;
  }
  .IMG-C img {
    margin-left: 20vw;
    height: auto;
  }
  .Content h1 {
    font-size: 50px;
    margin: 30px 0;
  }
  .Content p {
    margin-top: 12px;
    font-size: 14px;
  }

  .Main2 {
    flex-direction: column;
  }
  .Left2 {
    width: 100vw;
  }
  .Right2 {
    height: auto;
    width: 100vw;
  }
  .Right2 ul li {
    text-align: center;
    width: 90vw;
    /* margin-left: 50px; */
  }
  .S {
    display: none;
  }

  .T-C {
    height: auto;
  }

  .Card {
    height: auto;
  }
  .Left3 {
    margin: 12px;
  }
  .Right3 {
    flex-direction: column;
    width: 100vw;
  }
  .card1 {
    height: auto;
    width: 100vw;
    padding: 24px;
    background-color: white;
  }
  .card2 {
    height: auto;
    width: 100vw;
    padding: 24px;
    background-color: rgb(255, 255, 86);
  }
  .Con {
    flex-direction: column;
    height: 18vh;
  }
  .reviews-container {
    height: auto;
  }
  .footer {
    height: auto;
  }
}
